@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppin", Arial, Helvetica, sans-serif;
}
.active::before {
  background-color: rgba(128, 128, 128, 0.37);
  border-radius: 100%;
  padding: 8px;
}
.overflow-auto::-webkit-scrollbar {
  display: none;
}
dialog::backdrop {
  background-color: rgba(128, 128, 128, 0.5);
}
